# ===== IntelliJ IDEA =====
/out/            # Carpeta de compilación de IntelliJ
/.idea/          # Configuración interna de IntelliJ
*.iml            # Archivos de módulo de IntelliJ

# ===== Compilados Java =====
*.class

# ===== Archivos de sistema =====
.DS_Store
Thumbs.db